.checking {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .labelToggle {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  .labelToggle:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height:15px;
  
    background: #fff;
    border-radius: 90px;
    transition: 0.1s;
  }
  
  .checking:checked + label {
    background: #bada55;
  }
  
  .checking:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
/* //   label:active:after {
//     width: 50px;
//   } */


.users {
    width: 60px !important;
}



  
  