.app{
    text-align: center;

}
.app-select{
    justify-content: center;
    display: flex;
    
    padding: 20px;
}
.msl-actions{
   justify-content: end;
}
.msl-chip{
    display: contents;
    white-space: none;
}
.msl-options{
    position: none;
}
